<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/carla/ego_vehicle/semantic_lidar"/>
        <remap from="scan" to="/scan"/>
        <rosparam>
            <!-- target_frame: ego_vehicle/lidar # Leave disabled to output scan in pointcloud frame -->
            transform_tolerance: 0.05
            min_height: -2.0
            max_height: 1.0

            angle_min: -3.1416 # -M_PI
            angle_max: 3.1416 # M_PI
            angle_increment: 0.002175 # M_PI/1440.0
            scan_time: 0.1
            range_min: 0.10
            range_max: 30.0
            use_inf: false

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2~inf : Parallelism level
            concurrency_level: 0
        </rosparam>

    </node>

</launch>